{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}       
         

{% block title %}Add Product{% endblock %}

{% block body %}

<div class="container">

<h1>Add a new product:</h1>

<div class="jumbotron">

<form method="post">

    {% csrf_token %} 
    {% bootstrap_form form %}
    <input type="submit" value="Add" name="create" class="btn btn-success btn-lg">

</form>

</div>

</div>

<style>
    .btn{
        margin-top: 40px;
    }
    .jumbotron{
        margin-top: 50px;
        padding-bottom: 25px;
    }
    h1{
        margin-top: 40px;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bold;
    }
</style>

{% endblock %}